.Purchase-Summary-Main {
  border: solid lightgray 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 10%;
  text-align: left;
}

.Purchase-Summary-Loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #419bee;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  margin: 5em auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
